/* Contenedor principal */
.usuarios-container {
    padding: 20px;
  }
  
  /* Título de la página */
  .usuarios-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Error */
  .usuarios-error {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  /* Mensaje de ID seleccionado */
  .usuarios-info {
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 8px;
    border-radius: 10px;
    background-color: #d9edf7;
    color: #31708f;
    font-weight: 500;
    width: 30%;
    margin: 20px auto;
    text-align: center;
  }
  
  /* Tabla de usuarios */
  .usuarios-table {
    margin-top: 30px;
    font-size: 1rem;
    background-color: #fff;
  }
  
  .usuarios-table th, .usuarios-table td {
    text-align: center;
  }
  
  .usuarios-table th {
    background-color: #343a40;
    color: white;
  }
  
  .usuarios-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .usuarios-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo para los botones */
  .usuarios-buttons button {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 0 40px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .usuarios-buttons button:hover {
    opacity: 0.8;
  }
  
  .usuarios-buttons .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .usuarios-buttons .btn-warning {
    background-color: #ffc107;
    border: none;
  }
  
  .usuarios-buttons .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  