/* Layout.css */

/* Contenedor principal que envuelve Sidebar y Main Content */
.layout {
  display: flex;
  min-height: 100vh;
  margin-left: 250px; /* Ancho del sidebar */
}

/* Contenido principal que se ajusta al lado derecho del sidebar */
.main-content {
  flex-grow: 1;
  box-sizing: border-box;
}

/* Área de contenido de la página */
.page-content {
  background-color: #19222B;
  padding: 20px;
  min-height: 100vh;
  margin: 0;
}
