/* Estilos generales para el sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1b2d3f;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilo del encabezado del sidebar */
.sidebar-header {
  text-align: center;
  margin-bottom: 15px;
}

.profile-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-header h3 {
  color: #ecf0f1;
  font-size: 10px;
  margin-top: 10px;
  font-weight: 600;
}

.sidebar-header p {
  color: #BD9240;
  font-size: 20px;
  margin-top: 55px;
  font-weight: 800;
}

.sidebar-header P span{
  color: #ecf0f1;
}

/* Estilos de navegación */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  width: 100%;
}

.nav-icon {
  font-size: 25px; 
}

.navlink {
  color: #ffffff;
  background-color: #314b68;
  font-size: 18px;
  font-weight: 700;
  padding: 7px 19px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
}

.navlink:hover {
  background-color: #B84357;
  color: #fff;
}

.navlink.active {
  background-color: #B84357;
  color: #fff;
}
