/* Layout.css */

/* Contenedor principal que envuelve Sidebar y Main Content */
.layout {
  display: flex;
  min-height: 100vh;
  margin-left: 300px; /* Ancho del sidebar */
}

/* Contenido principal que se ajusta al lado derecho del sidebar */
.main-content {
  flex-grow: 1;
  box-sizing: border-box;
}

.page-content {
  background-color: #19222B;
  min-height: 100vh;
  margin: 0;
  margin-top: 120px; /* Asegura que el contenido no quede oculto debajo del header */
}