/* Estilo para el contenedor principal de Inventario */
.inventario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #2c3e50;
  min-height: 100vh;
  color: #ecf0f1;
}

/* Estilo para el encabezado del inventario */
.inventario-header {
  text-align: center;
  margin-bottom: 30px;
}

.inventario-header h1 {
  font-size: 2.5rem; /* Cambiado de 3rem a 2.5rem */
  color: #f39c12;
}

.inventario-header p {
  font-size: 1rem; /* Cambiado de 1.2rem a 1rem */
}

/* Estilo para el contenedor de formulario y tabla (principal) */
.inventario-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1500px;
}

/* Estilo para el formulario de productos */
.productos-formulario {
  width: 100%;
  max-width: 1500px;
  background-color: #34495e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #2c3e50;
  flex: 1;
}

.productos-formulario h2 {
  font-size: 1.5rem; /* Cambiado de 2rem a 1.5rem */
  color: #f39c12;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para los campos de texto (input) */
.productos-formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productos-formulario input {
  padding: 15px;
  font-size: 0.9rem; /* Cambiado de 1rem a 0.9rem */
  border: 1px solid #7f8c8d;
  border-radius: 6px;
  background-color: #34495e;
  color: #ecf0f1;
  width: 100%;
}

/* Estilo para el botón de submit en el formulario */
.productos-formulario button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9rem; /* Cambiado de 1rem a 0.9rem */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

/* Efecto hover para el botón */
.productos-formulario button:hover {
  background-color: #2980b9;
}

.productos-formulario button:focus {
  outline: none;
  background-color: #2980b9;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
}

/* Contenedor para habilitar el scroll de la tabla */
.lista-productos {
  width: 100%; /* Ancho máximo del contenedor */
  max-width: 1100px;
  max-height: fit; /* Altura máxima ajustable según necesidad */
  background-color: #34495e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #2c3e50;
  overflow: auto; /* Habilita el desplazamiento si excede el tamaño */
}

/* Estilo para la tabla de productos */
.productos-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: #2c3e50 0 0  20px;
  max-height: 550px; /* Establecer un alto fijo para la tabla */
  overflow-y: auto; /* Hacer que la tabla sea desplazable verticalmente si el contenido excede el alto */
  display: block; /* Necesario para aplicar el overflow en tablas */
}

/* Estilo para las celdas de la tabla */
.productos-table th,
.productos-table td {
  padding: 10px;
  text-align: left;
  font-size: 0.9rem; /* Tamaño de fuente reducido */
  border: #f39c12 transparent ;
}

/* Estilo para el encabezado de la tabla */
.productos-table th {
  background-color: #204861; /* Color de fondo del encabezado */
  color: white; /* Color del texto del encabezado */
  position: sticky; /* Hacer que el encabezado sea fijo */
  top: 0; /* Asegura que el encabezado se quede en la parte superior */
  z-index: 1; /* Asegura que el encabezado se quede por encima de las filas */
}

/* Estilo para las filas de la tabla */
.productos-table tr:nth-child(odd) {
  background-color: #34495e; /* Color para las filas impares */
}

.productos-table tr:nth-child(even) {
  background-color: #2c3e50; /* Color para las filas pares */
}

.lista-productos h2 {
  font-size: 1.5rem; /* Cambiado de 2rem a 1.5rem */
  text-align: center;
  margin-bottom: 30px;
  color: #f39c12;
}

/* Contenedor para los botones */
.buttons-container {
  padding: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Estilo para el botón de "Editar" */
.buttonEditar {
  background-color: #3498db;
  color: #fff;
  padding: 6px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

.buttonEditar:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.buttonEditar:focus {
  outline: none;
  background-color: #2980b9;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
}

/* Estilo para el botón de "Eliminar" */
.buttonEliminar {
  background-color: #e74c3c;
  color: #fff;
  padding: 6px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(231, 76, 60, 0.3);
}

.buttonEliminar:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

.buttonEliminar:focus {
  outline: none;
  background-color: #c0392b;
  box-shadow: 0 0 8px rgba(231, 76, 60, 0.8);
}