/* Estilos para el contenedor principal */
.inicio-container {
    position: absolute; /* Para ponerlo en modo flotante */
    top: 55%; /* Lo mueve al 50% desde la parte superior de la ventana */
    left: 55%; /* Lo mueve al 50% desde la parte izquierda de la ventana */
    transform: translate(-50%, -50%); /* Ajusta el contenedor para centrarlo de forma exacta */
    padding: 20px; /* Espaciado interno general */
    margin: 0; /* Elimina márgenes externos */
    max-width: 900px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  /* Estilos para el título */
  .inicio-container h2 {
    font-size: 2rem;
    color: #1c5d99;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* Estilo para el botón de cerrar sesión */
  .button-container {
    margin-top: 20px;
  }
  
  .button-container .btn-danger {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container .btn-danger:hover {
    background-color: #c0392b;
  }
  
  /* Estilos para el contenedor de los textos */
  .texto-container {
    margin-top: 50px;
  }
  
  /* Estilos para cada sección de texto */
  .texto-container h3 {
    font-size: 1.8rem;
    color: #34495e;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .texto-container p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Estilos para la historia, misión y visión */
  .historia, .mision, .vision {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .historia h3, .mision h3, .vision h3 {
    font-size: 1.5rem;
    color: #2980b9;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .historia p, .mision p, .vision p {
    font-size: 1rem;
    color: #34495e;
    line-height: 1.6;
    text-align: justify;
  }
  
  /* Estilo para el contenedor de los botones */
  .button-container {
    margin-top: 20px;
  }
  