@font-face {
  font-family: 'Ubuntu-Sans';
  src: url('./fonts/UbuntuSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu-Sans', '';
  background-color: #f4f6f9;
  color: #333;
  line-height: 1.6;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  color: #BD9240;
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
  body {
      font-size: 14px; /* Ajustar tamaño de fuente */
  }
}