.page-ventas {
  display: grid;
  grid-template-areas:
    "header"
    "ventas";
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
  background-color: #19222b; /* Fondo oscuro pero suave */
  color: #DDD6CC; /* Texto claro */
}

.page-ventas h2 {
  grid-area: header;
  text-align: center;
  color: #BDD4D2; /* Tono suave para el encabezado */
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #BD9240; /* Borde dorado sutil */
  padding-bottom: 1rem;
}

.page-ventas .table-wrapper {
  max-height: 500px; /* Ajusta la altura máxima según lo necesites */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.page-ventas table {
  width: 100%;
  margin-inline: 0;
  border-collapse: collapse;
  font-size: 0.9rem;
  background-color: #1F2A37; /* Fondo oscuro para la tabla */
  border-radius: 8px;
  overflow: hidden;
}

.page-ventas th {
  position: sticky;
  top: 0;
  background-color: #BD9240; /* Fondo dorado para el encabezado */
  color: #19222b;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-ventas th, .page-ventas td {
  padding: 0.75rem;
  border-bottom: 1px solid #DDD6CC;
}

.page-ventas button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #BD9240;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-ventas button:hover {
  background-color: #A57C33; /* Un tono dorado más suave para el hover */
}

@media (max-width: 768px) {
  .page-ventas {
    padding: 1rem;
    grid-template-areas:
      "header"
      "ventas";
  }
}
